@font-face {
  font-family: "Outfit"; /* Choose a name for your font */
  src: url("./assets/fonts/Outfit-Regular.ttf") format("truetype");

  /* Add additional formats if needed */
}

@font-face {
  font-family: "DM Sans"; /* Choose a name for your font */
  src: url("./assets/fonts/DMSans_24pt-Regular.ttf") format("truetype");

  /* Add additional formats if needed */
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.resume {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  min-height: 100vh;
}
.aside {
  position: relative;
  width: 22.5rem;
  display: flex;
  padding-bottom: 18.625rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background-color: #f8f9fc;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 2.4rem;
  position: relative;
}

.content-wrapper {
  height: 84.2rem;
  padding: 3.2rem 2.4rem 3.2rem 1.6rem;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.lang-wrap {
  flex-direction: column;
  gap: 1.2rem;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.media-title {
  display: flex;
  color: #79819a;
  font-family: "DM Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.0075rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.content {
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.r-content-wrap {
  justify-content: center;
  gap: 2rem;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: -5px;
}
